<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>  
    <add name="EPAM_Auction" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Projects\EPAM_Auction\EPAM_DataAccessLayer\App_Data\EPAM_Auction.mdf;Integrated Security=True" />  
  </connectionStrings>  
</configuration>